asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
Django==4.0.1
django-cleanup==5.2.0
django-crispy-forms==1.13.0
django-session-timeout==0.1.0
gunicorn==20.1.0
idna==3.3
pillow
psycopg2-binary==2.9.3
python-decouple==3.5
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
tzdata==2021.5
urllib3==1.26.8
whitenoise==5.3.0
